* {
    font-size: 1rem;
}
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    font-size: 1rem;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5rem;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.5rem;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	margin-bottom: 0px;
}
h3 {
    font-size: 1.3rem;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1rem;
    line-height: 1.4rem;
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul { 
    font-size: 1.5rem;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	margin: 0px;
}

ul li {
    list-style-type: circle;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

div {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
